workflows/Main_Supervisor.json
{
  "name": "Auto-Repare - Main Supervisor v3 (Dual LLM)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auto-repare/alert",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Uptime Kuma",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "auto-repare-alert"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $input.first().json;\nconst timestamp = Date.now();\nconst serviceId = (input.monitor?.name || input.monitorName || 'unknown').toLowerCase().replace(/[^a-z0-9]/g, '-');\n\n// Deterministic incident ID\nconst incidentId = 'INC-' + serviceId + '-' + timestamp;\n\nconst payload = {\n  incident_id: incidentId,\n  timestamp: new Date().toISOString(),\n  monitor_name: input.monitor?.name || input.monitorName || 'Unknown',\n  service_name: serviceId,\n  monitor_url: input.monitor?.url || input.url || '',\n  status: input.heartbeat?.status === 0 ? 'DOWN' : (input.heartbeat?.status === 1 ? 'UP' : 'UNKNOWN'),\n  message: input.msg || input.heartbeat?.msg || '',\n  attempt_count: 0,\n  architecture: {\n    actor: 'qwen2.5-coder:3b-instruct',\n    critic: 'phi3:3.8b-mini-instruct',\n    consensus_enabled: true\n  },\n  level_1_diagnosis: null,\n  level_1_action: null,\n  level_1_success: null,\n  consensus: null,\n  level_2_recommendation: null\n};\n\nreturn [{ json: payload }];"
      },
      "id": "normalize-payload",
      "name": "Normaliser Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/embeddings",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nomic-embed-text\",\n  \"prompt\": \"{{ $json.service_name }} {{ $json.message }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "rag-embed",
      "name": "RAG - Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, -200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:6333/collections/incidents_history/points/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"vector\": {{ JSON.stringify($json.embedding) }},\n  \"limit\": 1,\n  \"with_payload\": true,\n  \"score_threshold\": 0.85\n}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "rag-search",
      "name": "RAG - Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, -200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-found",
              "leftValue": "={{ $json.result && $json.result.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "rag-check",
      "name": "Solution RAG?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, -200]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const incident = $('Normaliser Payload').first().json;\nconst ragResult = $input.first().json.result[0];\n\nincident.level_1_diagnosis = {\n  cause: 'RAG Fast Track: ' + ragResult.payload.error_type,\n  confidence: ragResult.score,\n  action_command: ragResult.payload.solution_applied,\n  action_type: 'restart',\n  action_level: 1,\n  is_safe: true,\n  explanation: 'Solution trouvee dans historique avec haute confiance',\n  logs_summary: 'RAG match score: ' + ragResult.score\n};\n\nincident.level_1_action = ragResult.payload.solution_applied;\nincident.consensus = {\n  timestamp: new Date().toISOString(),\n  actor_model: 'RAG',\n  critic_model: null,\n  consensus_reached: true,\n  final_action: ragResult.payload.solution_applied,\n  should_execute: true\n};\n\nreturn [{ json: incident }];"
      },
      "id": "apply-rag-solution",
      "name": "Appliquer Solution RAG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, -300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [{"id": "condition-down", "leftValue": "={{ $json.status }}", "rightValue": "DOWN", "operator": {"type": "string", "operation": "equals"}}],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-status",
      "name": "Service Down?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 200]
    },
    {
      "parameters": {
        "command": "=tail -n 100 /var/log/syslog 2>/dev/null || journalctl -n 100 --no-pager 2>/dev/null | tail -100"
      },
      "id": "ssh-collect-logs",
      "name": "SSH - Collecter Logs Systeme",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [660, 100],
      "credentials": {
        "sshPrivateKey": {
          "id": "YOUR_SSH_CREDENTIAL_ID",
          "name": "Auto-Repare VPS SSH Key"
        }
      }
    },
    {
      "parameters": {
        "command": "=docker logs --tail 50 {{ $('Normaliser Payload').item.json.service_name }} 2>&1 || echo 'No Docker container with this name'"
      },
      "id": "ssh-docker-logs",
      "name": "SSH - Docker Logs",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [660, 300],
      "credentials": {
        "sshPrivateKey": {
          "id": "YOUR_SSH_CREDENTIAL_ID",
          "name": "Auto-Repare VPS SSH Key"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const incident = $('Normaliser Payload').first().json;\nconst sysLogs = $('SSH - Collecter Logs Systeme').first().json.stdout || '';\nconst dockerLogs = $('SSH - Docker Logs').first().json.stdout || '';\n\nincident.error_logs = '=== SYSTEM LOGS (last 100 lines) ===\\n' + sysLogs.slice(-2000) + '\\n\\n=== DOCKER LOGS (last 50 lines) ===\\n' + dockerLogs.slice(-2000);\nincident.attempt_count = 1;\n\nreturn [{ json: incident }];"
      },
      "id": "aggregate-logs",
      "name": "Agreger Logs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.N8N_WEBHOOK_BASE_URL }}/auto-repare/validate-consensus",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "call-consensus",
      "name": "Appeler Consensus Qwen+Phi",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.N8N_WEBHOOK_BASE_URL }}/auto-repare/execute-action",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "call-executor-rag",
      "name": "Executer Solution RAG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, -300]
    },
    {
      "parameters": {},
      "id": "end-up",
      "name": "Fin - Service UP",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [660, 400]
    },
    {
      "parameters": {
        "command": "=curl -s -o /dev/null -w '%{http_code}' {{ $('Normaliser Payload').item.json.monitor_url || 'http://localhost' }} 2>/dev/null || echo '000'"
      },
      "id": "ssh-verify-flapping",
      "name": "SSH - Verifier Flapping",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [880, -100],
      "credentials": {
        "sshPrivateKey": {
          "id": "YOUR_SSH_CREDENTIAL_ID",
          "name": "Auto-Repare VPS SSH Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {
              "id": "cond-flapping",
              "leftValue": "={{ ['200', '201', '204', '301', '302', '304'].includes($json.stdout?.trim()) }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "equals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-flapping",
      "name": "Fausse Alerte?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, -100]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const incident = $('Normaliser Payload').first().json;\nconst httpCode = $('SSH - Verifier Flapping').first().json.stdout?.trim();\n\nincident.level_1_diagnosis = {\n  cause: 'Fausse alerte detectee - Service repond normalement',\n  confidence: 0.95,\n  action_command: 'NONE',\n  action_type: 'diagnose',\n  action_level: 1,\n  is_safe: true,\n  explanation: 'Le service repond HTTP ' + httpCode + '. Alerte fermee comme FALSE_POSITIVE.',\n  logs_summary: 'Flapping detection: HTTP ' + httpCode\n};\n\nincident.level_1_action = 'NONE';\nincident.level_1_success = true;\nincident.resolved_at = new Date().toISOString();\nincident.resolution_tag = 'FALSE_POSITIVE';\nincident.consensus = {\n  timestamp: new Date().toISOString(),\n  actor_model: 'flapping_detector',\n  critic_model: null,\n  consensus_reached: true,\n  final_action: 'NONE',\n  should_execute: false\n};\n\nreturn [{ json: incident }];"
      },
      "id": "handle-flapping",
      "name": "Fermer Faux Positif",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, -100]
    },
    {
      "parameters": {
        "url": "={{ $env.N8N_WEBHOOK_BASE_URL }}/auto-repare/notify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"false_positive\",\n  \"incident\": {{ JSON.stringify($json) }}\n}",
        "options": {}
      },
      "id": "notify-flapping",
      "name": "Notifier Faux Positif",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, -100]
    }
  ],
  "connections": {
    "Webhook Uptime Kuma": {"main": [[{"node": "Normaliser Payload", "type": "main", "index": 0}]]},
    "Normaliser Payload": {"main": [[{"node": "RAG - Embedding", "type": "main", "index": 0}, {"node": "Service Down?", "type": "main", "index": 0}]]},
    "RAG - Embedding": {"main": [[{"node": "RAG - Search", "type": "main", "index": 0}]]},
    "RAG - Search": {"main": [[{"node": "Solution RAG?", "type": "main", "index": 0}]]},
    "Solution RAG?": {
      "main": [
        [{"node": "Appliquer Solution RAG", "type": "main", "index": 0}],
        [{"node": "SSH - Verifier Flapping", "type": "main", "index": 0}]
      ]
    },
    "Appliquer Solution RAG": {"main": [[{"node": "Executer Solution RAG", "type": "main", "index": 0}]]},
    "Service Down?": {"main": [[{"node": "SSH - Collecter Logs Systeme", "type": "main", "index": 0}, {"node": "SSH - Docker Logs", "type": "main", "index": 0}], [{"node": "Fin - Service UP", "type": "main", "index": 0}]]},
    "SSH - Collecter Logs Systeme": {"main": [[{"node": "Agreger Logs", "type": "main", "index": 0}]]},
    "SSH - Docker Logs": {"main": [[{"node": "Agreger Logs", "type": "main", "index": 0}]]},
    "Agreger Logs": {"main": [[{"node": "Appeler Consensus Qwen+Phi", "type": "main", "index": 0}]]},
    "SSH - Verifier Flapping": {"main": [[{"node": "Fausse Alerte?", "type": "main", "index": 0}]]},
    "Fausse Alerte?": {
      "main": [
        [{"node": "Fermer Faux Positif", "type": "main", "index": 0}],
        [{"node": "Agreger Logs", "type": "main", "index": 0}]
      ]
    },
    "Fermer Faux Positif": {"main": [[{"node": "Notifier Faux Positif", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
